<a href="https://colab.research.google.com/github/CaturViriyanand4/MDS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 72 bytes

In [ ]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Downloading goal-dataset-top-5-european-leagues.zip to /content
  0% 0.00/174k [00:00<?, ?B/s]
100% 174k/174k [00:00<00:00, 53.8MB/s]

In [ ]:
!unzip goal-dataset-top-5-european-leagues.zip

Archive:  goal-dataset-top-5-european-leagues.zip
  inflating: Bundesliga-goalScorer(20-21).csv
  inflating: LaLiga-goalScorer(20-21).csv
  inflating: Ligue_1-goalScorer(20-21).csv
  inflating: Serie_A-goalScorer(20-21).csv
  inflating: epl-goalScorer(20-21).csv

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

In [ ]:
df

     Unnamed: 0    id             player_name  ...       npxG    xGChain  xGBuildup
0             0   647              Harry Kane  ...  19.130183  24.995648   4.451257
1             1  1250           Mohamed Salah  ...  15.683834  28.968234   9.800236
2             2  1228         Bruno Fernandes  ...   8.407840  26.911412  11.932285
3             3   453           Son Heung-Min  ...  10.262118  20.671916   6.608751
4             4   822         Patrick Bamford  ...  16.879525  23.394953   4.131796
..          ...   ...                     ...  ...        ...        ...        ...
517         517  9415  Jaden Philogene-Bidace  ...   0.000000   0.056044   0.056044
518         518  9423         Gaetano Berardi  ...   0.074761   0.231278   0.231278
519         519  9524          Anthony Elanga  ...   0.000000   0.000000   0.000000
520         520  9540             Femi Seriki  ...   0.000000   0.000000   0.000000
521         521  9552         Tyrese Francois  ...   0.000000   0.000000   0.000000

[522 rows x 19 columns]

In [ ]:
df.dtypes

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [ ]:
df_rapi = df.sort_values(by="assists", ascending=False)
df_rapi.head(15)

     Unnamed: 0    id        player_name  ...       npxG    xGChain  xGBuildup
0             0   647         Harry Kane  ...  19.130183  24.995648   4.451257
2             2  1228    Bruno Fernandes  ...   8.407840  26.911412  11.932285
58           58   447    Kevin De Bruyne  ...   7.624933  21.079132  10.636448
3             3   453      Son Heung-Min  ...  10.262118  20.671916   6.608751
51           51   675      Jack Grealish  ...   5.192684  17.487469   6.972044
15           15   556    Marcus Rashford  ...   9.579710  20.441910   8.927208
6             6   755        Jamie Vardy  ...  13.092427  18.227907   2.412588
57           57  8026           Raphinha  ...   6.219143  16.792778   6.679692
49           49    65        Timo Werner  ...  13.432796  20.533463   5.242122
281         281   534    Aaron Cresswell  ...   0.883464  10.609667   8.381824
83           83   239        Pascal Groß  ...   1.965887  10.404419   6.732295
41           41  8720      Jack Harrison  ...   6.254043  19.397490   8.035575
32           32   843  James Ward-Prowse  ...   2.382486  10.150620   8.928799
26           26   482    Roberto Firmino  ...  12.860213  25.271458  10.198550
16           16   838         Sadio Mané  ...  14.828548  24.998923   6.057656

[15 rows x 19 columns]

In [ ]:
df_rapi.describe()

       Unnamed: 0           id       games  ...        npxG     xGChain   xGBuildup
count  522.000000   522.000000  522.000000  ...  522.000000  522.000000  522.000000
mean   260.500000  4380.932950   19.643678  ...    1.821450    5.663368    3.455060
std    150.832689  3281.776121   11.619836  ...    2.931176    5.600249    3.376584
min      0.000000    65.000000    1.000000  ...    0.000000    0.000000    0.000000
25%    130.250000   839.750000   10.000000  ...    0.074668    1.191391    0.720353
50%    260.500000  4627.000000   21.000000  ...    0.715585    4.252738    2.656397
75%    390.750000  7690.500000   30.000000  ...    1.945799    8.308002    5.254647
max    521.000000  9552.000000   38.000000  ...   19.130183   28.968234   18.323006

[8 rows x 16 columns]